.advantages {
    @extend %section;

    &__list {
        @extend %list;
        display: block;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0;
            padding: 0;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            margin: 0;
            padding: 0;
        }
    }

    &__list:not(:last-child) {
        margin-right: 30px;

        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &__item {
        background-color: #F5F4FA;

        @media screen and (min-width: 768px) {
            width: calc((100% - 2 * 15px) / 2);
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }

    }

    @media screen and (min-width: 768px) {
        &__item:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 767px) {
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        &__item:not(:first-child) {
            margin-left: 30px;
        }
    }

    &__icon {
        fill: currentColor;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: start;
        }

    }

    &__text {

        line-height: calc(24/14);

        color: var(--main-text-color);
    }

}