.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    text-decoration: none;
    color: red;

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31/26);
    }
    &__link {
        margin-right: 93px;
        
        }
    
    &__header {
        color: var(--logo-header-color);
        }
}

